# Desplazamiento de una edificación mediante fuerzas de trabajo #

## Objetivos

* Objetivo General:

Emplear los conocimientos a lo largo del modulo aplicado a una situación real de nuestra carrera. El ejemplo que usaremos será el desplazamiento de un edificio. Esto con el fin de calcular la fuerza de trabajo necesaria para esto mediante nuestros conocimientos de clase.

* Objetivo especifico:

El trabajo consta de calcular la fuerza de trabajo necesaria para mover una edificación de determinadas dimensiones 12 metros. Esto será inspirado en el traslado del edificio de Telefonos de México por el ingeniero Matute Remus en 1950. De esta acción tomaremos distintos datos para calcular el traslado del edificio más grande del mundo a la misma distancia que se recorrio el del ejemplo. Calcularemos los joules que se necesitan para mover cada edificio y los que ejerce un gato mecanico usado en el edificio de México. Esto nos permitirá saber la cantidad de gatos mecanicos necesarios para mover 12 metros el edificio más grande del mundo que es el Burj Khalifa.

### A continuación plantearemos el problema y mostraremos los datos necesatios para su resolución

#### Contexto

En 1950 el ingeniero civil Matute Remus realizó la labor de desplazar 12 metros el edificio de Telefonos de México. Este ubicado en el centro de Guadalajara.

Lo que vuelve todavía aún más increible el asunto es que esto lo hicieron sin interrumpir el servicio. Esto fue mediante un sistema de rieles que fueron hubicados por debajo del edificio, también se emplearon gatos mecánicos para mover la edificación. Todo esto con el proposito de alinear el edificio con la calle Juarez y no cortar el servicio de telefono de la zona.

Gracias a esta increible acción hoy se le recuerda al ingeniero Remus con una estatua fuera de lo que solía ser el edificio de Telefonos de México y con un puente nombrado en su honor.

#### Datos para los cálculos

Sabemos que cada movimiento del edificio fue de $0.8$ milímetros, lo que equivale a $0.0008$ metros.
En total se recorrieron $12$ metros, por lo que el número total de movimientos fue de:

$$
\frac{12}{0.0008} = 15000
$$

Con esto sabemos que para que el edificio se recorriera $12$ metros se realizaron $15000$ movimientos de $0.8$ milímetros cada uno.

También sabemos que la fuerza de empuje que se requirió fue de $70$ toneladas, por lo que si esta se convierte a Newtons, se puede calcular el trabajo total requerido:

$$
W=FxD
$$

Donde __W__ es el trabajo, __F__ es la fuerza de empuje y __D__ es la distancia recorrida, por lo que al sustituir con nuestros datos tenemos:

$$
F= 70 t =686465.5N
$$

$$
W=686465.5x12=8127751.52j
$$

Por lo que sabemos que nuestro trabajo es de $8127751.52$ joules.

Otra forma con la cual se puede calcular el trabajo es mediante la integral:

$$
W=\int_{x_0}^{x_1} {F(x)}\text{d}x
$$

donde $x_0$ es nuestra posición inicial, $x_1$ la posición final y $F(x)$ una función de posicion de un cuerpo en el espacio.

Se pudo haber elegido cualquier función y lo que variaría es su coeficiente constante. Para este proyecto se eligió la función cuadrática, por o que al sustituir en nuestras formulas:

$$
W=\int_{0}^{12} {ax^2}\text{d}x=8127751.52j
$$

Al integrar la función y evaluarla, se tiene que:

$$
a\frac {12^3}{3}=8127751.52
$$

Despejando nuestra constante:

$$
a=\frac{(3)(8127751.52)}{12^3}
$$

Lo que nos da:

$$
a=14110.68
$$

Sustituyendo en nuestra fórmula del trabajo:

$$
W=\int_{0}^{12} {14110.68x^2}\text{d}x
$$

Al dividir el resultado de nuestra integral entre $15000$ se obtiene el trabajo necesario para cada movimiento de $0.8$ mm, ya que como se mencionó anteriormente, se realizaron en total $15000$ movimientos de $0.8$mm para desplazar el edificio $12$m.

+ $\int_{0}^{12} 14110.68x^{2} \text{d}x$. 

---

In [1]:
import numpy as np
import pandas as pd
import math

In [114]:
fnc={'f1':lambda x: (14110.68)*x**2}

In [44]:
def montecarlo(f,a,b,N):
    u=np.random.uniform(a,b,N)
    return (b-a)*np.mean(f(u))

In [123]:
N=np.logspace(1,6,6)
N=N.astype(int)
a=0
b=12
tabla=pd.DataFrame(index=N)
for k,f in fnc.items():
    for i in N:
        tabla.loc[i,k]=montecarlo(f,a,b,i)
tabla

                   f1
10       6.132897e+06
100      8.072888e+06
1000     8.056079e+06
10000    8.085022e+06
100000   8.053751e+06
1000000  8.112879e+06

In [124]:
montecarlo(f,a,b,1000000)/15000

542.7577267877812

Ahora si se quisiera mover el Burj Khalifa $12$ metros, se puede aproximar el trabajo necesario utilizando los datos anteriores. Se sabe que el Burj Khalifa tiene un peso de $500000$ toneladas, equivalente a unos $201901617.6$ newtons.
Si se utilizan las fórmulas anteriormente mencionadas para obtener el trabajo, se tiene:

$$
W=201901617.6x12=2390515153j
$$

$$
W=\int_{0}^{12} {ax^2}\text{d}x=2390515153j
$$

Integrando nuevamente y evaluando se tiene:

$$
a\frac {12^3}{3}=2390515153
$$

Despejando la constante:

$$
a=\frac{(3)(2390515153)}{12^3}=4150199.918
$$

Por lo que ya se puede sustituir en la integral.

Nuevamente, si se pretende realizar $15000$ movimientos de $0.8$mm cada uno, para obtener el trabajo necesario por movimiento se divide el resultado de nuestra integral entre $15000$

+ $\int_{0}^{12} 4150199.918x^2\text{d}x$.

In [125]:
fnc={'f2':lambda x: 4150199.918*x**2}

In [127]:
N=np.logspace(1,6,6)
N=N.astype(int)
a=0
b=12
tabla=pd.DataFrame(index=N)
for k,f in fnc.items():
    for i in N:
        tabla.loc[i,k]=montecarlo(f,a,b,i)
tabla

                   f2
10       2.274617e+09
100      2.200724e+09
1000     2.351101e+09
10000    2.397932e+09
100000   2.393244e+09
1000000  2.391552e+09

In [129]:
montecarlo(f,a,b,1000000)/15000

159156.9631933943

In [2]:
datos=pd.read_csv('Datos Obtenidos1.csv')
datos

,Edificion,Peso,Unidades,Fuerza ejercida en t,N,J para los 12 m,J para los 0.8 mm
0,Matute Remus,1700,t,70.00000,686465.5,8.114022e+06,542.75
1,Burj Khalifa,"500,000",t,20588.23529,201901617.6,2.390515e+09,1591156.96
2,veces mayor,294,NaN,NaN,NaN,NaN,NaN

In [5]:
datos=pd.read_csv('Datos obtenidos 2.csv')
datos

,Edificio,Numero,Fuerza de trabajo por gato,Fuerza necesaria a solo 0.8 mm
0,Matute,12.00000,45.229167,542.75
1,Burj Khalifa,35179.88672,45.229167,1591156.96

## Conclusión

El primer aprendizaje que obtuvimos fue que esta nueva manera de hacer calculos e integraciones nos facilitaron mucho un trabajo de proporciones titánicas. Por esto nos referimos a que hace 70 todos estos cálculos tenian que ser a mano, pero estos fueron para lograr mover un edificio 294 veces más ligero que el Burj Khalifa. En el caso de que se intentara hacer tal acción sin los conocimientos que tenemos de la integración Montecarlo y el programa Jupyter, nos tomaría mucho más de una semana dedicada a esos cálculos.

También aprendimos a visualizar la fuerza necesaria para realizar un trabajo de tal magnitud. Sabemos que es prácticamente imposible cometer tal hazaña por diferentes factores, pero en la simulación pudimos comprender el trabajo necesario en unidades de fuerza y en cantidad de maquinaria para este trabajo. Eso nos pareció interesante debido a que en su tiempo así debió de parecer el trabajo del ingeniero Remus.

## Referencias:

Becerril, R. A. (2017). El traslado de un edificio completo en 1950. Geotécnia 242, 12-14.